#blog {
    .owl-carousel {
        position: relative;
        .owl-item {
            box-sizing: border-box;
            // padding: 15px;
            .custom-item {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img {
                    transition: all 0.5s linear;
                    // height: 200px;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all 0.5s linear;
                    i {
                        color: white;
                    }
                    p {
                        color: white;
                        transition: all 0.5s linear;
                    }
                }
                &:hover {
                    .overlay {
                        opacity: 1;
                        p {
                            color: rgb(194, 44, 44);
                        }
                    }
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: calc((100% - 30px)/2);
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            button {
                color: black;
                font-size: 30px;
                background-color: white;
                width: 40px;
                height: 40px;
                line-height: 0px;
                margin: 0;
                opacity: 1;
                border-radius: unset;
                position: relative;
                span {
                    position: absolute;
                    top: 18px;
                    left: 13px;
                }
            }
        }
    }
}